# Servidor HTTP
PORT=3000
NODE_ENV=development

# Banco de dados
DB_HOST=localhost
DB_PORT=5432
DB_USER=clinic_user
DB_PASS=clinic_pass
DB_NAME=medical_clinic

# RabbitMQ
RABBITMQ_URL=amqp://clinic_user:clinic_pass@localhost:5672

# Logging
LOG_LEVEL=debug
